body {
    background-color: #0D0D0D;
    color: #f9f6f6 !important;
    overflow: hidden;
}

.nav-tab {
    background-color: #0D0D0D;
}

.logo {
    width: 50px;
}
.side-nav {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    transition: left 0.3s;
}

.side-nav.open {
    left: 0; 
}

.links {
    list-style: none;
    padding: 0;
}

.links li {
    padding: 10px;
    color: white;
    display: none;
}

.fa-align-justify, .fa-x {
    cursor: pointer;
    color: black;
    position: fixed;
    top: 50%;
    left: 205px;
    z-index: 1000;
}
i {
    cursor: pointer;
}
.links ul li a{
    text-decoration: none;
}
.meal-layer {
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}
.links li{
    top: 0 !important;
}
.meal:hover .meal-layer {
    top: 0;
}

.side-nav {
    z-index: 99;
}

.cursor-pointer {
    cursor: pointer;
}

.alert {
    width: fit-content;
}

.loading-screen {
    z-index: 999;
    display: flex;
}

.inner-loading-screen {
    position: absolute;
    z-index: 9;
    background-color: #0D0D0D;
    display: flex;
}


.exit{
    cursor: pointer;
}